<!-- Footer -->
<footer
  style="
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #ebebeb;
  "
  class="bg-white text-black pt-4"
>
  <div class="container">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          posuere erat a ante.
        </p>
      </div>

      <!-- Column 2 -->
      <div class="col-md-4">
        <h5>Useful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-black">Home</a></li>
          <li><a href="#" class="text-black">Services</a></li>
          <li><a href="#" class="text-black">Contact</a></li>
          <li><a href="#" class="text-black">About</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt"></i> 123 Street, City, Country</li>
          <li><i class="bi bi-telephone"></i> +1 234 567 890</li>
          <li><i class="bi bi-envelope"></i> info@example.com</li>
        </ul>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="text-center py-3">
      <p>&copy; 2024 Wander lust. All rights reserved.</p>
    </div>
  </div>
</footer>
